.barra{
    
}

.danger{
    outline: 2px solid red;
}

.boton{
    width: 95px;
    height: 30px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
    background-color: rgb(30, 156, 129);
    border-radius: 5px;
    border: 1px solid rgb(49, 160, 149);
}

.boton:hover{
    cursor: pointer;
    background-color: rgb(51, 218, 201);
}
