.barra{
    
}

.danger{
    outline: 2px solid red;
}

.boton{
    width: 95px;
    height: 30px;
    margin-left: 10px;
    font-weight: 700;
    color: white;
    background-color: crimson;
    border-radius: 3px;
}

.boton:hover{
    cursor: pointer;
    background-color: rgb(255, 2, 53);
}
