.menu{
    background-color: rgb(49, 190, 124);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.items{
    font-size: 25px;
    font-weight: 500;
    color: white
}

.items:hover{
    text-shadow: 0px 0px 9px rgb(240, 186, 219);
    text-decoration: underline white;
}